@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";


//color wheel
$blue: #16c2d5;
$light-blue: #89dee2;
$dark-blue: #10217d;
$grey: #527c88;
$pink: #d7baad;
$dark-grey: #2e4450;
$light-grey: purple;

//changing bulma color/text defaults

$primary: $light-blue;
$info: $grey;
$warning: $dark-grey;
$light: $pink;

$body-color: $light-grey;
$container-color: $info;

//breadcrumb&buttons
$link-hover-color: $pink;
$link-hover-border-color: $pink;
$button-border-width: 5px;
$border-color: $pink;

/*starter code*/
form.signup,
form.login,
form.search {
  margin-top: 50px; }

/*general formatting*/
.container{
    padding:10px;
    margin: 25px;
    $background-color: $grey;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 10px;
}
.box {
    padding: 10px;
    margin: 5px; 
    height: 250px;
}
.notification {
    margin: 25px;
}
#submitBtn {
    margin-top: 10px;
}

@import "../node_modules/bulma/bulma.sass";